## Import Libraries

In [1]:
import pandas as pd
import numpy as np
import os

### Set Directory

In [2]:
path = 'C:\\Users\\Thepr\\Documents\\Consulting\\City of Columbia'
os.chdir(path)

### Read Data

In [3]:
Data = pd.read_excel('Section8-FY25.xlsx')
Data.columns

Index(['fips', 'stusps', 'state', 'state_name', 'hud_area_code',
       'hud_area_name', 'county', 'County_Name', 'county_town_name', 'metro',
       'median2025', 'l50_1', 'l50_2', 'l50_3', 'l50_4', 'l50_5', 'l50_6',
       'l50_7', 'l50_8', 'ELI_1', 'ELI_2', 'ELI_3', 'ELI_4', 'ELI_5', 'ELI_6',
       'ELI_7', 'ELI_8', 'l80_1', 'l80_2', 'l80_3', 'l80_4', 'l80_5', 'l80_6',
       'l80_7', 'l80_8'],
      dtype='object')

### Filter Data For South Carolina

In [4]:
DataSC = Data[ (Data['state_name'] == 'South Carolina') &
              (Data['hud_area_name'] == 'Columbia, SC HUD Metro FMR Area') &
              (Data['County_Name'] == 'Richland County')]

In [5]:
DataSC

,fips,stusps,state,state_name,hud_area_code,hud_area_name,county,County_Name,county_town_name,metro,...,ELI_7,ELI_8,l80_1,l80_2,l80_3,l80_4,l80_5,l80_6,l80_7,l80_8
3651,4507999999,SC,45,South Carolina,METRO17900M17900,"Columbia, SC HUD Metro FMR Area",79,Richland County,Richland County,1,...,48650,54150,51950,59350,66750,74150,80100,86050,91950,97900

In [6]:
DataSC = DataSC[[ 'hud_area_name', 'County_Name','median2025', 'l50_1', 'l50_4','ELI_1', 'ELI_4', 'l80_1', 'l80_4']]

In [7]:
# DataSC = DataSC[[ 'hud_area_name','County_Name', 'median2024', 'l50_1', 'l50_4','ELI_1', 'ELI_4', 'l80_1', 'l80_4']]

In [8]:
DataFinal = DataSC.copy()

In [9]:
# DataFinal.rename(columns={
#     'ELI_1': 'Extremely Low Income 30% AMI Single Individual',
#     'ELI_4': 'Extremely Low Income 30% AMI Family of Four',
#     'l50_1': 'Very Low Income 50% AMI Single Individual',
#     'l50_4': 'Very Low Income 50%% AMI Family of Four',
#     'l80_1': 'Low Income 80% AMI Single Individual',
#     'l80_4': 'Low Income 80% AMI Family of Four',
#     'hud_area_name': 'MSA',
#     'median2024': 'AMI 2024',
#     'County_Name':'County Name'
# }, inplace=True)

In [10]:
DataFinal.rename(columns={
    'ELI_1': 'Extremely Low Income 30% AMI Single Individual',
    'ELI_4': 'Extremely Low Income 30% AMI Family of Four',
    'l50_1': 'Very Low Income 50% AMI Single Individual',
    'l50_4': 'Very Low Income 50%% AMI Family of Four',
    'l80_1': 'Low Income 80% AMI Single Individual',
    'l80_4': 'Low Income 80% AMI Family of Four',
    'hud_area_name': 'MSA',
    'median2025': 'AMI 2025',
    'County_Name':'County Name'
}, inplace=True)

In [11]:
DataFinal

,MSA,County Name,AMI 2025,Very Low Income 50% AMI Single Individual,Very Low Income 50%% AMI Family of Four,Extremely Low Income 30% AMI Single Individual,Extremely Low Income 30% AMI Family of Four,Low Income 80% AMI Single Individual,Low Income 80% AMI Family of Four
3651,"Columbia, SC HUD Metro FMR Area",Richland County,92700,32450,46350,19500,32150,51950,74150

In [12]:
# DataFinal.to_csv('IncomeLimits2024.csv', index = False)

In [13]:
DataFinal.to_csv('IncomeLimits2025.csv', index = False)